@font-face {
    font-family: Arimo;
    font-weight: 400;
    src: url(fonts/Arimo-Regular.ttf);
}

@font-face {
    font-family: Arimo;
    font-weight: 600;
    src: url(fonts/Arimo-Medium.ttf);
}

body {
    margin: 0;
    font-family: Arimo;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 9% 0 12.5%;
}

.logo {
    flex: 181 181 0;
    font-size: 20px;
    color: #62D0DF;
    font-weight: 600;
}

.menu {
    flex: 593 593 0;
    display: flex;
    justify-content: center;

    list-style-type: none;

    padding: 0;

    font-size: 12px;
}

ul.menu > li {
    margin-right: 5px;
    padding: 0 5px 7px;
}

ul.menu > li:last-child {
    margin-right: 0;
}

ul.menu > li.active {
    border-bottom: 1px solid #000000 ;
}

.contact-btn-wrapper {
    text-align: right;
    flex: 226 226 0;
}

.contact-btn {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;

    background-color: #62D0DF;
    border-radius: 50px;
    border-width: 0;

    padding: 15px 30px;
}